<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/doctor_form.css">
</head>
<body>
    <h2>Register Doctor</h2>
<form action="/admin/add-doctor" method="POST">
  <label>Enter Name</label>
  <input type="text" name="doctor_name" required>

  <label>Specialization</label>
  <input type="text" name="doctor_specialization">

  <label>Enter Contact</label>
  <input type="text" name="doctor_contact" required>

  <label>Work Experience</label>
  <input type="number" name="doctor_experience">

  <label>Status</label>
  <select name="status" required>
    <option value="">-- Select Status --</option>
    <option value="Active">Active</option>
    <option value="Inactive">Inactive</option>
  </select>

  <label>Username</label>
  <input type="text" name="username" required>

  <label>Password</label>
  <input type="password" name="password" required>

  <button type="submit">Submit</button>
</form>


</body>
</html>