<!-- views/partials/adminNavbar.ejs -->
<nav class="bg-light pt-3 px-3" style="min-height: 100vh;">
    <div class="position-sticky">
        <h5>Doctor</h5>
        <ul class="nav flex-column">
            <li class="nav-item">
                <a class="nav-link" href="/admin/add-doctor">Add Doctor</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/admin/view-doctor">View Doctor</a>
            </li>
        </ul>

        <h5 class="mt-4">Reception</h5>
        <ul class="nav flex-column">
            <li class="nav-item">
                <a class="nav-link" href="/admin/add-reception">Add Reception</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/admin/view-reception">View Reception</a>
            </li>
        </ul>
    </div>
</nav>