<!-- views/partials/adminNavbar.ejs -->
<nav class="bg-light pt-3 px-3" style="min-height: 100vh;">
    <div class="position-sticky">
        <h5>Patient</h5>
        <ul class="nav flex-column">
            <li class="nav-item">
                <a class="nav-link" href="/doctor/patient-visited">Visited</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/doctor/patient-not-visited">Not Visited</a>
            </li>
             <li class="nav-item">
                <a class="nav-link" href="#">Asign Patient</a>
            </li>
        </ul>

        <h5 class="mt-4">Medicine</h5>
        <ul class="nav flex-column">
            <li class="nav-item">
                <a class="nav-link" href="/doctor/add-medicine">Add Medicine</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/doctor/view-medicine">View Medicine</a>
            </li>
        </ul>
    </div>
</nav>