<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Doctor Dashboard</title>
  <style>
    body { display: flex; font-family: Arial; }
    .sidebar {
      width: 200px;
      background-color: #f0f0f0;
      padding: 20px;
      height: 100vh;
    }
    .sidebar h3 { margin-bottom: 10px; }
    .sidebar ul { list-style-type: none; padding: 0; }
    .sidebar li { margin: 10px 0; }
    .content { padding: 20px; flex-grow: 1; }
  </style>
</head>
<body>
  <div class="sidebar">
    <h3>Doctor Panel</h3>
    <ul>
     <li>
        <h2>Patient</h2>
        <ul class="submenu">
          <li><a href="/doctor/patient-visited">Visited</a></li>
          <li><a href="/doctor/patient-not-visited">Not Visited</a></li>
          <li><a href="#">Asign Patient</a></li>
        </ul>
      </li>

       <li>
        <h2>Medicine</h2>
        <ul class="submenu">
          <li><a href="/doctor/add-medicine">Add Medicine</a></li>
          <li><a href="/doctor/view-medicine">View Medicine</a></li>
        </ul>
      </li>

    <li><a href="/logout" class="logout">Logout</a></li>      
  </ul>
  </div>
  <div class="content">
    <h2 style="background-color: rgba(157, 64, 245, 0.318);">Welcome, Dr. <%= user.username %></h2>
    <p>Select an option from the sidebar.</p>
  </div>
</body>
</html>

