<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Prudent Campus</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <header>
        <div class="logo">
            <img src="4.png" alt="Prudent Campus Logo">
            <div class="logo-text">
                <span class="main">Hospital</span><br>
                <span class="sub">Management System</span><br>
                <!-- <span class="tagline">Engagement & Execution</span> -->
            </div>
        </div>
        <nav>
            <a href="#">Home</a>
            <a href="#">About Us</a>
            <a href="#">Campus</a>
            <a href="#">Jobs</a>
            <a href="#">Articles</a>
            <a href="#">Contact Us</a>
        </nav>
    </header>
    <main>
        <div class="hero">
            <h1>Advanced Hospital Management Software
                for Healthcare Institutions</h1>
            <h2>With advanced features and streamlined operations, our hospital management system is redefining how healthcare providers manage patient data, resources, and decision-making</h2>
            <p class="open">Now Open For Healthcare Ecosystem</p>
            <div class="buttons">
                <a href="/getstarted" class="btn">Get Started</a>
            </div>
        </div>
    </main>
</body>
</html>